
.cabecalho {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
}

.cabecalhoMenu {
  /* Navbar */
  position: relative;
  width: 1440px;
  height: 96px;
  left: 0px;
  top: 0px;
}

.cabecalhoMenuImagem {
  /* Logo */
  position: absolute;
  height: 43.09px;
  left: 11.11%;
  right: 79.41%;
  top: calc(50% - 43.09px/2 - 0.45px);
}

.cabecalhoMenuImagem1 {
  /* graphics */
  position: absolute;
  left: 0%;
  right: 76.56%;
  top: 0%;
  bottom: 0%;
}

.cabecalhoMenuImagem2 {
  /* Group 2 */
  position: absolute;
  left: 25.64%;
  right: -0.37%;
  top: 6.96%;
  bottom: 8.34%;
}

.cabecalhoMenuLinks {
  /* Group 3 */
  position: absolute;
  width: 367px;
  height: 30px;
  left: 362px;
  top: 36px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  position: absolute;
  left: 25.14%;
  right: 66.71%;
  top: 42.71%;
  bottom: 33.33%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.cabecalhoMenuLinksBarra1 {
  /* Rectangle 4 */
  position: relative;
  left: 0%;
  right: 64.9%;
  top: -5px;
  bottom: 31.25%;
  background: #D9D9D9;
  border-radius: 100px;
}

.cabecalhoMenuLinksBarra2 {
  /* Rectangle 5 */
  position: relative;
  left: 0%;
  right: 55.71%;
  top: -5px;
  bottom: 31.25%;
  background: #D9D9D9;
  border-radius: 100px;
}

.cabecalhoMenuBotao {
  /* btn - login */
  position: absolute;
  width: 160px;
  height: 34px;
  left: 1120px;
  top: 31px;  
  filter: drop-shadow(-4px 4px 6px rgba(0, 0, 0, 0.25));
  /* Login */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
  color: #FFFFFF;
  background-color: #1FD6FF;
  border-radius: 8px;
}

.cabecalhoMenuBotao:hover {
  background-color: #AFF5FF;
  cursor: pointer;
}

.main {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0c0ce94d;
}

.container {
  width: 53%;
  height: 870px;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
  
}

.form {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 3rem;
}

.formHeader {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #000000;
}

.voltarButton {
  display: flex;
  align-items: center;
}

.voltarButton button {
  border: none;
  background-color: #1FD6FF;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.voltarButton button:hover {
  background-color: #AFF5FF;
}

.voltarButton button a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.formHeader h1::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #1FD6FF;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.inputGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
  
}

.inputBox input {
  margin: 0.6rem 0;
  padding: 0.6rem 15rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
  background-color: #c0bebe;
  color: #000000;
}

.inputBox input:hover {
  background-color: #eeeeee75;
}

.inputBox input:focus-visible {
  outline: 1px solid #1FD6FF;
}

.inputBox label,
.genderTitle h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.inputBox input::placeholder {
  color: #000000be;
}


.cadastrarButton button {
  width: 100%;
  margin-top: 2.5rem;
  border: none;
  background-color: #1FD6FF;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.cadastrarButton button:hover {
  background-color: #AFF5FF;
}

.cadastrarButton button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

.rodape {
  /* Footer */
  position: sticky;
  /*width: 1440px;*/
  width: 100%;
  height: 144px;
  left: 0px;
  top: 880px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #FFFFFF;
}

.rodapeImagem {
  /* Group 4 */
  position: absolute;
  left: 44.1%;
  right: 44.05%;
  top: 23.61%;
  bottom: 25.43%;
}